:root{
    --accent-color: #4985FF;

    --gradient-start: #504DC2;
    --gradient-end: #5F12D0;

    --title-color: #323232;
    --text-color: #999999;

    --border-color: #E5E5E5;
    --white: #FFFFFF;
}